## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
aList = [100, 200, 300, 400, 500]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [4]:
aList = [100, 200, 300, 400, 500]
# code below this line
aList.sort(reverse = True)
print(aList)
# code above this line

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [60]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

['my', 'na', 'i', 'Ke']

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [12]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
for i in range(len(list1)):
    list1[i] = list1[i]+list2[i]
print(list1)
# code above this line

['My', 'name', 'is', 'Kelly']

In [15]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
result = []
for i in range(len(list1)):
    word = list1[i]+list2[i]
    result.append(word)

print(result)
# code above this line

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [1]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line
aList = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(aList)):
        aList[i] = (aList[i]) ** 2 
print(aList)
# code above this line

[1, 4, 9, 16, 25, 36, 49]

In [20]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line
aList = [1, 2, 3, 4, 5, 6, 7]
bList = []
for i in aList:
     bList.append(i**2)
print(bList)

[1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list_new = []
# code below this line
for i in range(len(list1)):
    for j in range(len(list2)):
        list_new.append(list1[i]+list2[j])
print(list_new)
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [3]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []
for i in range(len(list1)):
    for j in range(len(list2)):
        list3.append(list1[i]+list2[j])
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [178]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
list2.sort(reverse = True)
for i in range(len(list1)):
    print(list1[i], list2[i])
# code above this line

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [57]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
result =[]
for item in list1:
    if item:
        result.append(item)

print(result)     
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

In [64]:
list1 = ["Mike", "", "Emma","","" "Kelly", "", "Brad"]
# code below this line

while "" in list1: 
    list1.remove("")

print(list1)     
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [63]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
result = -1
for i in range(len(list1)):
    if list1[i] == 20:
        result = i
        del list1[i]
        list1.insert(i,200)
        print(list1)
        break
# code above this line

[5, 10, 15, 200, 25, 50, 20]

In [76]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [41]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1.count(20)

3

**Output:**

In [ ]:
[5, 15, 25, 50]

In [129]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
result = 0
for i in range(len(list1)): 
    if list1[i] == 20:
        result = i
        del list1[i]
    if i == len(list1):
        print(list1)
# code above this line
#tại sao len(chuỗi) không trừ 1

[5, 15, 25, 50]

IndexError: list index out of range

In [79]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
result = 0
while 20 in list1:
    list1.remove(20)
print(list1)
# code above this line
#tại sao len(chuỗi) không trừ 1

[5, 15, 25, 50]

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [36]:
aTuple = (10, 20, 30, 40)
# Your code
a = aTuple[0]
b = aTuple[1]
c = aTuple[2]
d = aTuple[3]
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [52]:
tuple1 = (11, 22)
tuple2 = (99, 88)
# code below this line


# code above this line

TypeError: 'tuple' object is not callable

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

**Output**

In [ ]:
2

In [140]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line
count = 0
for i in range(len(tuple1)):
    if tuple1[i] == 50:
        count += 1
        
print(count)

# code above this line

2

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [110]:
tuple1 = (45, 45, 45, 45)

# code below this line
count = 0
for i in range(len(tuple1)):
    if tuple1[i] in tuple1:
        count += 1
if count >= 2:
    print(True)
# code above this line
# bài này không đúng

True